<h1>hello {{ userName }}</h1>
<div class="input">
<form action="/note" method="POST">
          <h3>write something</h3>
          <div class="inputbox">
            <input type="text" name="{{ userName }}" />
          </div>
          <input type="submit" name="submit" value="submit" id="sumbit" />
</form>
</div>

<div class="output">
<h2>{{userName}}'s note</h2>
{{#each note}}
{{!-- {{this}}:{{@index}} --}}
<textarea id="text{{@index}}" name="{{userName}}" class="text-area"data-number={{@index}} rows="4" cols="50">
{{this}}
</textarea>
<button method="DELETE" name="{{userName}}" id="{{@index}}" class="button"value="delete">delete</button>
{{/each}}
</div>
